In [2]:
import pandas as pd

In [3]:
ev_co = pd.read_csv("ev_co2_final.csv")

In [19]:
ev_co.drop("Unnamed: 0", axis=1, inplace=True)

In [17]:
print(f"The present table contains information on Electric Vehicle (EV) sales and CO2 emissions across {ev_co["country"].nunique()} countries, including: \n {ev_co["country"].unique()}")

The present table contains information on Electric Vehicle (EV) sales and CO2 emissions across 46 countries, including:
 ['Australia' 'Austria' 'Belgium' 'Brazil' 'Bulgaria' 'Canada' 'Chile'
 'China' 'Colombia' 'Costa Rica' 'Croatia' 'Cyprus' 'Czech Republic'
 'Denmark' 'Estonia' 'Finland' 'France' 'Germany' 'Greece' 'Hungary'
 'Iceland' 'India' 'Ireland' 'Israel' 'Italy' 'Japan' 'Latvia' 'Lithuania'
 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway' 'Poland'
 'Portugal' 'Romania' 'Seychelles' 'Slovakia' 'Slovenia' 'South Africa'
 'Spain' 'Sweden' 'Switzerland' 'USA' 'United Arab Emirates'
 'United Kingdom']

In [20]:
ev_co

            country  year  ev_sales  co2_metric_tons
0         Australia  2011        98           403.83
1         Australia  2012       550           406.15
2         Australia  2013       880           397.89
3         Australia  2014      3200           393.95
4         Australia  2015      5360           401.79
..              ...   ...       ...              ...
435  United Kingdom  2017    178070           387.37
436  United Kingdom  2018    248109           379.73
437  United Kingdom  2019    326242           364.75
438  United Kingdom  2020    588299           326.26
439  United Kingdom  2021   1020273           346.77

[440 rows x 4 columns]